body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DAD9D9 !important;
}


/* header {
    background-image: linear-gradient(to right, #fff, #C8C8C8, #3DB5E6, #004B98);
    color: #C8C8C8;
    text-align: center;
    padding: 10px;
}
*/

#logo {
    max-width: 100px;
}

.navbar {
    background-image: linear-gradient(to right, #fff, #C8C8C8, #3DB5E6, #004B98);
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

#welcome {
    padding-top: 10px;
    text-align: center;
}

#welcome-text {
    font-size: 36px;
    font-family: "Georgia", Times, serif;
    text-align: center;
    color: #004B98;
    text-shadow: 2px 2px 4px #3DB5E6;
}

#welcome-subtext {
    text-align: center;
    color: #000000;
    max-width: 1000px;
    margin: auto;
    font-size: 24px;
}

#welcome+div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    padding: 10px;
    background-color: #004B98;
    text-align: center;
    color: white;
}

.fa {
    text-align: center;
    text-decoration: none;
    color: white;
}

/* TO-DO Style Settings Page */