
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DAD9D9 !important;
}


#logo {
    height: 80px;
    width: 150px;
}

.navbar {
    background-image: linear-gradient(to right, #fff, #C8C8C8, #3DB5E6, #004B98);
    text-align: center;
    padding: 10px;
}


.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

h1 {
    margin: 20px 0;
    color: #004B98;
    text-shadow: 2px 2px 4px #3DB5E6;
    padding: 20px;
    text-align: center; 
   
    
    
}

main {
    text-align: center;
    padding-top: 15px;
}

#left {
    width: 33%;
    /* align-items: left; */
    background-color: black;
}

.pacman-container {
    margin: 0 auto;
    text-align: center;
    position: relative; 
    width: 50%;
    
}

@keyframes pacman-container {
    0%   {background-color:#E1261C; left:0px; top:15px;}
    25%  {background-color:#61BF1A; left:200px; top:0px;}
    50%  {background-color:#C8C8C8; left:0px; top:200px;}
    75%  {background-color:#3DB5E6; left:0px; top:0px;}
    100% {background-color: #004B98; left:0px; top:0px;}
  }


svg {
    background-color: black;
    border: 3px solid blue;
    border-radius: 9px;
    animation: bounce 3s linear;
}

/* @keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }
} */

#player circle {
    fill: yellow;
}
rect {
    stroke: blue;
    stroke-width: 3;
}
#ghost_box {
    stroke: blue;
    stroke-width: 3;
}
.ghost_btm {
    stroke: none;
}
.ghost_eye {
    fill: black;
    stroke: white;
    stroke-width: 2;
}
#ghost1 {
    fill: red;
}
#ghost2 {
    fill: cyan;
}
#ghost3 {
    fill: green;
}
#ghost4 {
    fill: pink;
}
#ghost5 {
    fill: orange;
}
/* #ghost1 {
    background: url(ghost1.png);
}
#ghost2 {
    background-image: url(ghost2.png);
    background-size: cover;
}
#ghost2 {
    background-image: url(ghost3.png);
    background-size: cover;
}
#ghost4 {
    background-image: url(ghost4.png);
    background-size: cover;
}
#ghost5 {
    background-image: url(ghost5.png);
    background-size: cover;
}
#ghost6 {
    background-image: url(ghost6.png);
    background-size: cover;
} */

#win_or_lose_text {
    fill: white;
    font-size: 80px;
    text-anchor: middle;
}
#score_text {
    text-anchor: middle;
    fill: white;
}
#play_text {
    text-anchor: middle;
    fill: white;
}
.ball {
    fill: white;
}
.ghosts {
    fill: purple;
}
#cherry {
    display: none;
}
#cherry > circle {
    fill: #F03;
    stroke: black;
    stroke-width: 1;
}
#cherry > path {
    stroke: green;
    stroke-width: 2;
}

#win-container {
    text-align: center;
    border: 2px solid black;
    /* max-width: 50%; */
    display: flex;
    max-width: 33%;
    justify-content: left;
    align-items: left;
}

.hidden {
    display: none !important;
}
